QWidget{
background: #FF9900;
}
QMainWindow{
            background-color: #ff9900;
            color: #ff9900;
}

starttext{
position: absolute;
width: 227.16px;
height: 54.75px;
left: 44px;
top: 87.73px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 38px;
display: flex;
align-items: center;
text-align: center;
color: #FCA41F;

}

QLabel{
    color: white;
}

QLabel#leftEyeBox, QLabel#rightEyeBox, QLabel#baseImage {
    border: 2px solid white;
    border-radius: 15px;

}

QCheckBox {
    spacing: 5px;
}

QPushButton {
    position: absolute;
    background: #FFFFFF;
    border-radius: 15px;
}


QPushButton:pressed{
    border-style: inset;
    background-color: rgb(97, 97, 97)
}

QAbstractButton {
    color: rgb(175, 189, 196);
}
